
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
  max-width: 1200px;
  margin: auto;
}

/* Card Styling */
.card {
  width: 100%;
  height: 100%;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  display: flex;
  flex-direction: column;
  max-height: 600px;
}

.card.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.card.is-hidden {
  opacity: 0;
  transform: translateY(-100px);
}

/* Typography */
.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  margin: 0%;
}
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tags span {
  font-size: 8px;
  background-color: rgb(37, 179, 32);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

/* Responsive Tweaks */
@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }

  .card-body {
    padding: 1rem;
  }
}
