<div class="container">
    <section class="">
      <div class="px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="container">
          <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <h1 class="my-5 display-3 fw-bold ls-tight">
                The best offer <br />
                <span class="text-primary">for your business</span>
              </h1>
              <p style="color: hsl(217, 10%, 50.8%)">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                quibusdam tempora at cupiditate quis eum maiores libero
                veritatis? Dicta facilis sint aliquid ipsum atque?
              </p>
            </div>
  
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="card">
                <div class="card-body py-5 px-md-5">
                  <form [formGroup]="resetPassForm">
                    <h2>Reset your Password</h2>
                   
                    <div class="mb-3">
                      <input type="password" class="form-control form-control-sm" formControlName="password" placeholder="New Password" />
                      <div Class="text-danger mt-2" *ngIf="resetPassForm.get('password')?.touched && resetPassForm.get('password')?.hasError('required')">*Password is required</div>
                      <div Class="text-danger mt-2" *ngIf="resetPassForm.get('password')?.touched && resetPassForm.get('password')?.hasError('invalidPassword')">*Password must be at least 8 characters long, contain one uppercase letter, one lowercase letter, one digit, and one special character.
                      </div>
                    </div>
                    
                    <div class="mb-3">
                      <input type="password" class="form-control form-control-sm" formControlName="confirmpassword" placeholder="Confirm Password" />
                      <div Class="text-danger mt-2" *ngIf="resetPassForm.get('confirmpassword')?.touched && resetPassForm.get('confirmpassword')?.hasError('required')">*Password is required</div>
                      <div Class="text-danger mt-2" *ngIf="resetPassForm.get('confirmpassword')?.touched && resetPassForm.get('confirmpassword')?.hasError('confirmPasswordValidator')">*Password did Not matched.</div>
                      <div Class="text-success mt-2" *ngIf="resetPassForm.get('confirmpassword')?.touched && !resetPassForm.get('confirmpassword')?.hasError('confirmPasswordValidator')">*Passwords match.</div>
                    </div>
                    
                    <div>
                      <button type="submit" class="btn btn-primary btn-sm mb-4" (click)="updatePassword()">Change Password</button>
                      <button type="submit" class="btn btn-primary btn-sm mb-4 mx-2" (click)="clearForm()">Reset</button>
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </section>
    <!-- <mat-spinner *ngIf="isLoading" class="spinner-overlay"></mat-spinner> -->
  </div>